body {
  background-color: hsl(221, 100%, 96%);
}

.wrapper {
  max-width: 1000px;
  display: flex;
}

.container1 {
  box-sizing: border-box;
  height: 270px;
  max-width: 350px;
  padding: 10px;
  border: 2px solid hsla(256, 72%, 46%, 1);
  box-sizing: border-box;
  background-color: hsl(252, 100%, 67%);
  text-align: center;
}

.container2 {
  box-sizing: border-box;
  height: 270px;
  max-width: 200px;
  padding: 10px;
  border: 2px solid hsl(224, 30%, 27%);
  box-sizing: border-box;
  background-color: hsl(241, 100%, 89%);
  text-align: center;
}
