body {
  background-color: hsl(166, 100%, 37%);
}

.wrapper {
  box-sizing: border-box;
  height: 300px;
  max-width: 300px;
  padding: 10px;
  border-radius: 10px;
  margin: auto;
  border: 2px solid hsla(256, 72%, 46%, 1);
}

.box-wrapper {
  display: inline-block;
  max-width: 650px;
}
