body {
  background-color: hsl(166, 100%, 37%);
}

.wrapper {
  box-sizing: border-box;
  height: 270px;
  max-width: 350px;
  padding: 10px;
  border-radius: 10px;
  margin: auto;
  border: 2px solid hsla(256, 72%, 46%, 1);
  box-sizing: border-box;
  background-color: hsl(252, 100%, 67%);
  text-align: center;
}

.box-wrapper {
  display: inline-block;
  max-width: 1000px;
}
