* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(221, 100%, 96%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 1000px;
  flex-direction: column;
}

.wrapper {
  max-width: 1500px;
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper .p {
  display: flex;
}

.container1 {
  padding: 10px;
  height: 100%;
  width: 50%;
  border: 2px solid hsla(256, 72%, 46%, 1);
  background-color: hsl(252, 100%, 67%);
  text-align: center;
  border-radius: 15px;
  margin-left: -2px;
}

.container1 .first-row {
  display: flex;
}

.container2 {
  padding: 10px;
  height: 100%;
  width: 50%;
  border: 2px solid hsl(224, 30%, 27%);
  background-color: hsl(241, 100%, 89%);
  text-align: center;
  border-radius: 15px 15px;
}

.circle {
  max-width: 80px;
  height: 80px;
  background-color: hsla(256, 72%, 46%, 1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: sans-serif;
  flex-direction: column;
  border: 1px solid black;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

.circle p {
  font-size: 10px;
}

.circle .large-font {
  font-size: 35px;
}

.circle .small-font {
  box-shadow: 10px;
  color: hsl(252, 100%, 67%);
}
