* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(221, 100%, 96%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}

.wrapper {
  max-width: 1300px;
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container1 {
  padding: 10px;
  height: 100%;
  width: 50%;
  border: 2px solid hsla(256, 72%, 46%, 1);
  background-color: hsl(252, 100%, 67%);
  text-align: center;
  border-radius: 15px;
}

.container2 {
  padding: 10px;
  height: 100%;
  width: 50%;
  border: 2px solid hsl(224, 30%, 27%);
  background-color: hsl(241, 100%, 89%);
  text-align: center;
  border-radius: 0 15px 15px 0;
}

.circle {
  max-width: 80px;
  height: 80px;
  background-color: hsl(224, 30%, 27%);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: sans-serif;
  flex-direction: column;
}
